<?xml version="1.0" encoding="utf-8"?>
<Configuration>

	<Properties>
		<Property name="log-path">/log</Property> 
		<Property name="app-id">app</Property>
	</Properties>

	<Appenders>
		<RollingFile name="file-log" fileName="${log-path}/${app-id}.log" filePattern="${log-path}/${app-id}-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%X{requestId}][%X{consumerId}] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingFile>

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%X{requestId}][%X{consumerId}] %c{1} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>

		<Logger name="org.hibernate" level="trace" additivity="false">
			<appender-ref ref="file-log" />
			<appender-ref ref="console" />
		</Logger>  

		<Root level="info" additivity="false">
			<appender-ref ref="file-log" />
			<appender-ref ref="console" />
		</Root>
	</Loggers>

</Configuration>